{% extends 'main.html' %}

{% block title %}
    {{ super }} پشتیبانی
{% endblock %}

{% block body %}
    <div class="card bg-white text-dark mb-3">
        <div class="card-body">
            <h1 class="text-center mb-4"><i class="fas fa-headset fa-5x"></i></h1>
            <h2 class="text-center mb-3">پشتیبانی</h2>

            <br/>
            
            <ul>
                <li class="mb-3">
                    <p class="card-text"><strong>رایانامه: </strong><a href="mailto:ahoura.zamani@gmail.com">ahoura.zamani@gmail.com</a> <small class="text-muted">(اگر مشکلی پیدا کردید)</small></p>
                </li>

                <li class="mb-3">
                    <p class="card-text"><strong>دیسکورد: </strong> Popovski#9527 <small class="text-muted">(اگر کار خصوصی دارید)</small></p>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
