{% extends 'main.html' %}

{% block title %}
{{ super }} قوانین
{% endblock %}

{% block body %}
<div class="card bg-white text-dark mb-3">
    <div class="card-body">
        <h1 class="text-center mb-4"><i class="fas fa-gavel fa-5x"></i></h1>
        <h2 class="text-center mb-3">قوانین و شرایط</h2>

        <p class="card-text">در راستای ایجاد محیطی سالم و امن در کنار محیطی خلاق و جامعه‌محور لطفاً قبل از فعالیت در این شبکه قوانین و شرایط را با دقت مطالعه کنید.</p>

        <br />

        <h3>شرایط:</h3>
        <ul>
            <li>
                <p class="card-text">هر کاربر صاحب محتوایی که تولید می‌کند است و سایت هیچ مسئولیتی در قبال آن ندارد. هرگونه عواقب انتشار محتوای ممنوعه به عهده‌ی خود کاربر است.</p>
            </li>
        </ul>

        <br />

        <h3>محتوای ممنوعه:</h3>

        <ul>
            <li>
                <p class="card-text">هرگونه محتوای <strong>غیراخلاقی</strong> از نظر شرع اسلام و عرف جامعه</p>
            </li>
            <li>
                <p class="card-text">هرگونه محتوای <strong>توهین‌آمیز</strong></p>
            </li>
            <li>
                <p class="card-text">هرگونه محتوای <strong>سیاسی</strong></p>
            </li>
            <li>
                <p class="card-text">هرگونه محتوای <strong>خطرآفرین</strong> (مثلاً آموزش نفوذ به سایتی <em>مشخص</em>،
                    انتشار مشکلات امنیتی یک سایت و...)</p>
            </li>
            <li>
                <p class="card-text">هرگونه محتوای <strong>فتنه‌انگیز</strong></p>
            </li>
            <li>
                <p class="card-text">هرگونه محتوای <strong>ناقض کپی‌رایت</strong></p>
            </li>
            <li>
                <p class="card-text">هرگونه محتوای آموزشی <strong>غیرمرتبط</strong> با رایانه</p>
            </li>
            <li>
                <p class="card-text">هرگونه <strong>زیرمجموعه‌گیری</strong></p>
            </li>
            <li>
                <p class="card-text">انتشار محتوای <strong>هرز</strong></p>
            </li>
        </ul>
    </div>
</div>
{% endblock %}