{% extends 'main.html' %}

{% block title %}
    {{ super }} خوش‌آمدید
{% endblock %}

{% block body %}
    <div class="card bg-white text-dark mb-3">
        <div class="card-body">
            <h1 class="text-center mb-4"><i class="fas fa-birthday-cake fa-5x"></i></h1>
            <h2 class="text-center mb-3">خوش‌آمدید!</h2>

            <p class="card-text">به شبکه‌ی اجتماعی برنامه‌نویسان، سیاره‌ی گیک‌ها خوش‌آمدید. شبکه‌ی اجتماعی برنامه‌نویسان جایی برای به‌اشتراک‌گذاری تجربه‌ها، افکار و لحظه‌های شماست. با ما همراه باشید و اولین قدم‌هایتان را در این سیاره بردارید.</p>

            <br/>

            <ul>
                <li class="mb-3">
                    <h3>تکمیل نمایه</h3>
                    <p class="card-text">اولین قدم تکمیل نمایه‌تان است. با کلیک روی تصویر نمایه‌تان در نوار بالای صفحه منویی باز می‌شود که هرچه لازم داشته باشید را در آن پیدا می‌کنید. روی «<i class="fas fa-cog"></i> تنظیمات» کلیک کنید تا وارد صفحه‌ی تنظیمات شوید. حالا می‌توانید بخش‌های مختلفی را مشاهده کنید که هرکدام مربوط به قسمتی از نمایه‌ی شماست.</p>
                </li>

                <li class="mb-3">
                    <h3>اتصال حساب</h3>
                    <p class="card-text">برای راحتی هرچه بیش‌تر پیشنهاد می‌شود حساب کاربری‌تان را به حساب کاربری‌تان در گیت‌هاب و گیت‌لب متصل کنید. برای این کار در همان صفحه‌ی تنظیمات به بخش اتصال حساب مراجعه کنید.</p>
                </li>

                <li class="mb-3">
                    <h3>انتشار اولین مطلب</h3>
                    <p class="card-text">حالا وقت آن شده که اولین مطلب‌تان را در شبکه‌ی اجتماعی برنامه‌نویسان منتشر کنید. روی نماد بعلاوه در نوار بالای صفحه کلیک کنید. سپس روی گزینه‌ی «<i class="fas fa-pen-nib"></i> مطلب جدید» کلیک کنید تا به صفحه‌ی مربوطه هدایت شوید. ویرایشگر مطلب از مارک‌دان پشتیبانی می‌کند. برای آشنایی با آن به <a href="{% url 'markdown' %}">این‌جا</a> مراجعه کنید.</p>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
