{% extends 'main.html' %}

{% block title %}
    {{ super }} تغییر رمز عبور
{% endblock %}

{% block body %}
    <div class="body  border-gray">
        <h2>تغییر رمز عبور</h2><br/>
        <form method="POST">
            {% csrf_token %}
            {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ form.non_field_errors }}
                    {% if form.old_password.errors %}
                        <p><strong>رمز عبور فعلی</strong>{{ form.old_password.errors }}</p>
                    {% endif %}
                    {% if form.new_password1.errors %}
                        <p><strong>رمز عبور جدید</strong>{{ form.new_password1.errors }}</p>
                    {% endif %}
                    {% if form.new_password2.errors %}
                        <p><strong>تکرار رمز عبور جدید</strong>{{ form.new_password2.errors }}</p>
                    {% endif %}
                
                </div>
            {% endif %}
            
            <label>رمز عبور فعلی:</label>
            <input class="form-control  border-gray" name="old_password" type="password">
            <br/>
            <label>رمز عبور جدید:</label>
            <input class="form-control  border-gray" name="new_password1" type="password">
            <br/>
            <label>تکرار رمز عبور جدید:</label>
            <input class="form-control  border-gray" name="new_password2" type="password">
            <br/><br/>
            <button type="submit" class="btn btn-success  border-gray">ذخیره</button>
        </form>
    </div>
{% endblock %}