{% extends 'main.html' %}

{% block title %}
 {{ super }} رمز عبورتان را فراموش کرده‌اید؟
{% endblock %}

{% block body %}
    <div class="body  border-gray">
        <h2>رمز عبورتان را فراموش کرده‌اید؟</h2><br/>
            <p>آدرس ایمیلی که با آن ثبت نام کرده‌‌اید را در فیلد زیر وارد کنید تا لینک تغییر رمز عبور برایتان ارسال شود.</p>

            <form method="POST">
            {% csrf_token %}
            {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ form.non_field_errors }}
                    {% if form.email.errors %}
                        <p><strong>ایمیل</strong>{{ form.email.errors }}</p>
                    {% endif %}
                </div>
            {% endif %}

            <label>ایمیل:</label>
            <input class="form-control  border-gray" name="email">
            <br/>
            <button type="submit" class="btn btn-success  border-gray">تائید</button>
        </form>
    </div>
{% endblock %}