{% extends 'main.html' %}
{% load static %}

{% block title %}
    {{ super }} عضویت
{% endblock %}


{% block body %}
    <div class="body  border-gray">
        <h2>عضویت</h2><br/>
        <form method="post">
            {% csrf_token %}
            {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ form.non_field_errors }}
                    {% if form.username.errors %}
                        <p><strong>نام کاربری</strong>{{ form.username.errors }}</p>
                    {% endif %}
                    {% if form.email.errors %}
                        <p><strong>ایمیل</strong>{{ form.email.errors }}</p>
                    {% endif %}
                    {% if form.password1.errors %}
                        <p><strong>رمز عبور</strong>{{ form.password1.errors }}</p>
                    {% endif %}
                    {% if form.password2.errors %}
                        <p><strong>تکرار رمز عبور</strong>{{ form.password2.errors }}</p>
                    {% endif %}
                </div>
            {% endif %}
            <label>نام کاربری:</label>
            <input class="form-control" name="username" required/>
            <br/>
            <label>ایمیل:</label>
            <input class="form-control" name="email" required/>
            <br/>
            <label>رمز عبور:</label>
            <input class="form-control" name="password1" type="password" required/>
            <br/>
            <label>تکرار رمز عبور:</label>
            <input class="form-control" name="password2" type="password" required/>
            <br/><br/>
            <button type="submit" class="btn btn-success">عضویت</button>
        </form>
        <hr/>
        <a href="{% url 'social:begin' 'github' %}"><button type="button" class="btn btn-github  border-gray"><i class="fab fa-github fa-lg"></i> ورود با حساب گیت‌هاب</button></a>
        <a href="{% url 'social:begin' 'gitlab' %}"><button type="button" class="btn btn-gitlab  border-gray"><i class="fab fa-gitlab fa-lg"></i> ورود با حساب گیت‌لب</button></a>
        <hr/>

        <p>عضو هستید؟ <a href="{% url 'login' %}">ورود</a></p>
    </div>
{% endblock %}